/* VIEW CSS */

html {
	background: #fff url("../images/bg.png") no-repeat right bottom;
	color: #000;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	background: transparent url("../images/pro.png") no-repeat 20px 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1 {
	margin: 120px 0 20px;
	height: 60px;
	width: 100%;
	display: block;
	font-size: 60px;
	text-align: center;
	color: #000;
	z-index: 101;
}

#countdown {
	width: 100%;
	height: 150px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -75px;
}

#result {
	width: 100%;
	position: absolute;
}

#countdown {
	font-size: 180px;
	z-index: 100;
}

.teams {
	width: 100%;
	position: absolute;
}

.team {
	float: left;
	position: relative;
	width: 40%;
	margin: 1% 5% 0;
	text-align: left;
	height: 60px;
	overflow: hidden;
}

.teamName {
	float: left;
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	max-width: 75%;
	overflow: hidden;
}

.teamPoints {
	float: right;
	height: 100%;
	line-height: 100%;
	padding-left: 20px;
	margin-right: 5%;
	font-size: 60px;
}

#flower {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 750px;
	background: transparent url("../images/flower.png");
	z-index: -1;
}