/* VIEW CSS */

html {
	background: #000;
	color: #fff;
	overflow: hidden;
}

h1 {
	top: 0;
	height: 80px;
	width: 100%;
	display: block;
	font-size: 80px;
	margin: 20px 0;
	text-align: left;
	padding-left: 5%;
	color: #ffdd88;
	border-bottom: 3px solid #0076b9;
}

#countdown {
	width: 100%;
	height: 150px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -75px;
}

#result {
	width: 100%;
	position: absolute;
}

#countdown {
	font-size: 180px;
}

.teams {
	width: 100%;
	position: absolute;
}

.team {
	float: left;
	width: 20%;
	padding: 1%;
	margin: 1%;
	text-align: center;
	background: #222;
	height: 130px;
	overflow: hidden;
}

.teamName {
	font-size: 30px;
}

.teamPoints {
	font-size: 70px;
	margin-top: 10px;
}